@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@layer utilities {
  .Auth-container {
    background-image: url("./assets/AuthBackground.png");
    background-position: center center;
    background-size: cover;
  }
.eye-position {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
}



}
